.content {
  height: 2000px;
  background-color: lightgray;
}

.sticky {
  height: 100px;
  width: 100%;
  background-color: #90ee90;
  position: sticky;
  top: 20px;
}

.content {
  height: 2000px;
  background-color: lightgray;
}
